{% extends "base.html" %}

{% block title %}{{ therapist.name }}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-6 col-md-4">
			<img src="{{ photo }}" class = "img-fluid md-4">
		</div>
		<div class="col-md-8">
			<h1>{{ therapist.name }}</h1>
			<ul>
				<p>Методы: </p>
				<div class="container">
					<div class="row row-cols-4">
						{% for method in methods %}
						<div class="col">{{ method }}</div>
						{% endfor %}
					</div>
				</div>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
