{% extends "base.html" %}

{% block content %}
{% if therapist_list %}
    <ul>
    {% for therapist in therapist_list %}
        <li><a href="/{{ therapist.id }}/">{{ therapist.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No therapists are available.</p>
{% endif %}
{% endblock %}
